# Archivos de compilación
vivero-backend/target/
vivero-backend/.mvn/

# IDEs y configuración local
.idea/
.vscode/
*.iml

# Variables locales
.env
!.env.example
!.env.vm.example
vivero-frontend/node_modules/
vivero-frontend/dist/
*.tsbuildinfo

# Archivos del sistema
Thumbs.db
.DS_Store

