# Archivos de compilación
vivero-backend/target/
vivero-backend/.mvn/

# IDEs y configuración local
.idea/
.vscode/
*.iml

# Variables locales
.env
robot-bridge/.venv/
robot-bridge/__pycache__/
robot-bridge/src/__pycache__/

# Archivos del sistema
Thumbs.db
.DS_Store

