# Archivos de compilación
vivero-backend/target/
vivero-backend/.mvn/

# IDEs y configuración local
.idea/
.vscode/
*.iml

# Variables locales
.env
robot-pi/__pycache__/
robot-pi/src/__pycache__/
robot-pi/.venv/

# Archivos del sistema
Thumbs.db
.DS_Store

